{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" >
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="user-icon">👤</div>
            <h2>Ingreso</h2>

            <form method='POST'>
                {% csrf_token %}
                <label for="username">Usuario *</label>
                {{ form.username }}

                <label for="password">Contraseña *</label>
                {{ form.password }}

                <div class="options">
                    <label><input type="checkbox"> Recordarme</label>
                </div>

                <button type="submit">INICIAR SESIÓN</button>

                <div class="links">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
